<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Interactive" version="3.0.0-rc1-00354" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.0.0-rc1-00354" targetFramework="net461" />
  <package id="System.Interactive.Async.Providers" version="3.0.0-rc1-00354" targetFramework="net461" />
  <package id="System.Interactive.Providers" version="3.0.0-rc1-00354" targetFramework="net461" />
</packages>