<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5319e031-fd27-4424-a6fa-add178aafbe3" Publisher="CN=bartde" Version="1.0.0.1" />
  <Properties>
    <DisplayName>WindowsStoreApp8</DisplayName>
    <PublisherDisplayName>bartde</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WindowsStoreApp8.App">
      <VisualElements DisplayName="WindowsStoreApp8" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="WindowsStoreApp8" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>