<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>    
    <add key="AppVeyor (CI) rxnet" value="https://ci.appveyor.com/nuget/rx-net-ljfp6fos5bxs" />
    <add key="myget.org rxnet" value="https://dotnet.myget.org/F/rx/api/v3/index.json" />
    <add key="Build Packages" value="https://www.myget.org/F/c037199d-41df-4567-b966-25ff65324688/api/v3/index.json" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />        
  </packageSources>  
</configuration>
