<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Tests.System.Reactive.Android.DeviceRunner" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="Tests.System.Reactive.Android.DeviceRunner" android:icon="@drawable/Icon"></application>
</manifest>