<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <!--
    Workaround for failure to run tests on .NET FX on v3.3.1 MSTest packages
  -->
  <RunConfiguration>  
    <DisableAppDomain>True</DisableAppDomain>   
  </RunConfiguration>

  <DataCollectionRunSettings>
    <DataCollectors>
       <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[xunit.*]*,[*Tests]*,[*]Xunit.*</Exclude> <!-- [Assembly-Filter]Type-Filter -->
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <SingleHit>false</SingleHit>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <MSTest>
    <TestTimeout>120000</TestTimeout>
  </MSTest>
</RunSettings>
